.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  color: black;
  margin: 0 0 2em 0;

    &__header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      font-size: 1em;
      
      margin: 4em 4em 0em 4em;
      &_title{
        font-size: 1.5em;
        font-weight: bold;
        color: rgba(44, 44, 194,1);
      }
      
      &_button{
        display: flex;
        align-items: center;
    
        gap: 0.5em;
        padding: 1em;
    
        font-weight: bold;
        color: rgba(44, 44, 194,1);
        background-color: #fff;
        border: rgba(44, 44, 194,0.5) 1px solid;
        border-radius: 0.8em;
      }
    }
    &__content{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    
      padding: 2em;
      &_body{
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        gap: 1em;
        &_icon{
          width: 5em;
          display: flex;
          align-items: center;
          justify-content: right;
          padding: 1em;
          margin-left: 1em;
          font-size: 2.5em;
          border-right: 2px dashed rgba(44, 44, 194,0.5);
          span{
            position: absolute;
            font-weight: bold;
            color: green;
          
          }
        }
        &_text{
          width: 20em;
          margin-left: -2em;
          padding: 0;
          display: flex;
          flex-direction: column;
          text-align: left;
        }
      }
    
    
    }
}